@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS reset style */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  outline: none;
  background: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

/* CSS reset style */

body {
  font-family: "Montserrat", sans-serif;
}
.filter__wrapper {
  min-height: 100%;
  overflow: hidden;
}

.filter___container {
  max-width: 1300px;
  margin: 0 auto;
}

/* ========================== */


/* MAIN */

.filter__main {
  margin-top: 24px;
}

/* IMAGE SECTION */

.filter__image__section__container {
  display: flex;
  justify-content: center;
}

/* GRID SECTION */

.filter__grid__section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.filter__grid__section__container {
}

.filter__grid__section__header {
  color: #000;
  font-size: 48px;
  margin-left: 12px;
  font-style: normal;
  font-weight: 700;
  padding-left: 20px;
  line-height: normal;
  margin-bottom: 24px;
}

.filter__grid__section__cards {
  padding-top: 12px;
  /*background: url("../assets/main/gerb.png");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: grid;
  margin-left: 16px;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  row-gap: 24px;
}
/* FILTERBLOCK */
.filter__filter__block__1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}
.filter__filter__block__1__buttons__block {
  display: flex;
  align-items: center;
  padding-right: 24px;
  position: relative;
  bottom: 20px;
  gap: 12px;
}

.filter__filter__block__1__button {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f5f5f5;
  padding: 12px 24px;
  color: #4e9fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  border-radius: 12px;
}

.filter__filter__btn {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f5f5f5;
  padding: 12px 24px;
  color: #4e9fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  border-radius: 12px;
}

/* END OF FILTERBLOCK */

.filter__cards__item {
  position: relative;
  max-width: 160px;
  border-radius: 16px;
}

.filter__cards__item__arrow__img {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  background-color: #272727;
  padding: 12px;
  border-radius: 44px;
}

.filter__cards__item__img {
  border-radius: 16px;
  width: 100%;
  height: 200px;
  filter: brightness(0.75);
}

.filter__cards__item__text {
  position: absolute;
  bottom: 10px;
  left: 10px;

  font-family: "Inter", sans-serif;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

/* modal */
.filter__modal-window {
  position: relative;
}
.filter__modal-window-box {
  position: relative;
  position: absolute;
  display: none;
  right: 25px;
  top: 53px;
  width: 345px;
  height: 242px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(240, 240, 240, 1);
  border-radius: 10px;
  z-index: 1111;
}

.filter__modal-window-box_active {
  display: block;
}

.filter__modal-window-box-container {
  position: absolute;
  width: 93%;
  height: 100%;
  right: 0;
  padding: 20px 0px;
}

.filter__modal_date_title {
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.filter__modal_window_dates {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  
  padding-bottom: 10px;

}
.filter__modal_window_dates_container {
  overflow: auto;
}


.filter__dates_btn:first-child {
  color: white;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  border: none;
  font-weight: 700;
  line-height: 16px; /* 160% */
  text-transform: uppercase;
  border-radius: 12px;
  background: rgba(78, 159, 255, 1);
}
.filter__dates_btn {
  padding: 8px 16px;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 12px;
  display: inline-block;

margin-right: 8px;
  color: #454243;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 160% */
}

.filter__modal_window_dates {
  display: flex;
  margin-top: 20px;
  
}
.filter__modal_window_dates::-webkit-scrollbar {
  display: none;
}

.filter__modal_date_specialize {
  font-size: 16px;
  color: black;
  font-weight: 600;
  margin-top: 10px;
}

.filter__modal_sort {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 37px;
  padding: 15px 10px;
  margin-top: 10px;
  border-radius: 12px;
  border: 1px solid #ECECEC;
  font-family: "Montserrat", sans-serif;


  color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.filter__modal_sort::after {
  content: url('/assets/images/Mask.svg');
  position: absolute;
  right: 10px;
}

.filter__modal_sort_active::after {
  transform: rotate(90deg);
}
.filter__modal-find{
  display: flex;
  height: 34px;
  padding: 8px 122px 9px 128px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 8px;
  background: #4E9FFF;

  color:  #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 12px;
}
.filter__modal_sort_window {
  position: absolute;
  display: none;
  width: 80%;
  height: 250px;
  left: 35px;
  margin-top: 170px;
  z-index: 11111;
  background-color: white;
  border: 1px solid rgb(181, 181, 181);
}

.filter__modal_sort_window_active {
  display: block;
}

.filter__modal_sort_window_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px;
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.filter__area {
  cursor: pointer;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  padding: 7px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.filter__area:hover {
  background: rgba(0, 0, 0, 0.06);
  /*border-bottom: 1px solid none;*/
  border-radius: 10px;
}

@media (max-width: 950px) {
  .filter__grid__section__cards {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 768px) {
  .filter__grid__section__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 668px) {
  .filter__grid__section__header {
    font-size: 35px;
  }

  .filter__grid__section__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 568px) {
  .filter__grid__section__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 468px) {
  .filter__header__container {
    flex-direction: column;
    gap: 20px;
  }

  .filter__header__logo__text {
    font-size: 22px;
  }

  .filter__grid__section__header {
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .filter__grid__section__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* grid__section__menu */
.filter__grid__section__menu {
  margin-left: 12px;
  margin-bottom: 6px;
  padding-left: 20px;
}
.filter__menu-section {
}
.filter__menu-section__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.filter__menu-section__column {
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid #ececec;
  background: #fff;
  user-select: none;
  cursor: pointer;
}
.filter__menu-section__text {
  white-space: nowrap; /* Запрещает перенос текста на новую строку */

  color: #454243;
  text-align: center;
  /* tags bttn */
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 160% */
  text-transform: uppercase;
}
.filter__menu-section__icon {
}
.filter__menu-section__column_clear {
  background: #4e9fff;
  display: flex;
}
.filter__menu-section__text_clear {
  color: #fff;
  margin-left: 6px;
}

/* SORTIROVKA */
.filter__hidden {
  display: none;
}
.filter__sorting-block {
  scrollbar-width: none;
  overflow-x: hidden;
  padding: 24px 0px 24px 24px;
  position: absolute;
  right: 175px;
  top: 53px;
  z-index: 999;
  border-radius: 12px;
  border: 2px solid #f0f0f0;
  background: #fff;
  width: 345px;
  height: 242px;
}
.filter__sorting-block__text {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 12px;
  font-weight: 600;
  line-height: normal;
}
.filter__menu-section__row_sort {
  cursor: pointer;
  flex-wrap: nowrap;
  overflow: auto;
  scrollbar-width: none;
}
.filter__sorting-block__gpa {
  margin-bottom: 16px;
}
.filter__sorting-block__dateofgraduation {
  margin-bottom: 16px;
}
.filter__sorting-block__btn {
  display: flex;
  width: 92%;
  margin-top: 12px;
  height: 34px;
  padding: 8px 0px 9px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #4e9fff;

  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* end */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* CSS reset style */
*{
    padding: 0;
    margin: 0;
    border: 0;
    color: #FFFFFF;
}
*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}


html, body{
    height: 100%;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer; outline: none;background: none;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

/* CSS reset style */

body {
    font-family: "Montserrat", sans-serif;
}

.welcome__wrapper {
    min-height: 100%;
    overflow: hidden;
}

.welcome___container {
    max-width: 1300px;
    margin: 0 auto;
}

/* ========================== */



/* SLIDER */

.welcome__slider__section__container {
    margin-bottom: 15px;
}

.welcome__slider__section__card__container {
    position: relative;
    padding: 24px;
}




.welcome__slider__section__card__img {
    object-fit: cover;
    width: 100%;
    max-height: 470px;
    border-radius: 20px;
}

.welcome__slider__section__card__title {
    position: absolute;
    font-size: 30px;
    font-weight: 500;
    z-index: 1;
    left: 70px;
    top: 80px;
}

.welcome__slider__section__card__main__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome__main__block__img {
    width: 150px;
}

.welcome__main__block__title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    line-height: 37px;
    color: rgb(249, 249, 249);
}

.swiper {
    max-width: 1300px;
}

.swiper-wrapper {
    transition: transform 0.3s ease; /* Add a transition effect for the transform property */
}

.swiper-pagination {
    color: transparent; /* Transparent color for inactive buttons */
    display: flex;
    justify-content: center;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: transparent; /* Transparent background for inactive buttons */
    border: 2px solid transparent; /* Transparent border for all buttons */
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -20px;
}

.swiper-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    border-color: #000000; /* Black border color for inactive buttons */
    opacity: 1; 
    cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #000; /* Black background for active button */
    cursor: pointer;
}
/* IMPORTANT */

.welcome__important {
    margin-top: 30px;
}

.welcome__important__container {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.welcome__important__header {
    max-width: 50vw;
    min-height: 50vh;
    color: #000;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

swiper-container {
    max-width: 1300px;
}
